In [1]:
import pandas as pd

import os.path

In [2]:
file = '/Users/yana/PycharmProjects/untitled/names/'

In [3]:
def count_top3(years):
    file_by_year = {}
    colns = ['Name','Gender','Count']
    for year in years:
        file_by_year[year] = pd.read_csv(os.path.join(file, "yob{}.txt".format(year)), names=colns)
    top_names = pd.concat(file_by_year).groupby('Name').sum().sort_values(by='Count', ascending=False).head(3)
    return top_names.axes[0].tolist()

In [4]:
count_top3([1880]) == ['John', 'William', 'Mary']

True

In [5]:
count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']

True

In [6]:
def count_dynamics(years):
    file_by_year = {}
    dynamic = {}
    colns = ['Name', 'Gender','Count']
    for year in years:
        file_by_year[year] = pd.read_csv(os.path.join(file, "yob{}.txt".format(year)), names=colns).groupby('Gender').sum()
    all_names = pd.concat(file_by_year).to_dict(orient='list')['Count']
    dynamic['M'] = all_names[1::2]
    dynamic['F'] = all_names[::2]
    return dynamic

In [7]:
count_dynamics([1900, 1950, 2000])

{'F': [299822, 1713450, 1814738], 'M': [150490, 1791474, 1962556]}

Ответ не сошелся с примером в задании:

In [8]:
count_dynamics([1900, 1950, 2000]) == {'M': [146391, 1675092, 1262262], 'F': [279409, 1390888, 670434]}

False